<div class="aboutWrap"><h1>About Social Magic</h1>
<p>Created by: <%= link_to "Donavin", "mailto:dnorthrup25@gmail.com", class: 'emailMe' %> for all his friends wanting 'Social Media for Magic: The Gathering'</p>
<p>Magic: The Gathering and none of it's products are my own. All rights belong to <%= link_to "Wizards of the Coast", "https://company.wizards.com/" %></p>
<button>
    <i class="fa fa-twitter"></i><%= link_to "Follow me", "https://www.twitter.com/DaRealDNorthrup", class: "social-btn" %>
</button>
</div>
