<h1>About Bloccit</h1>
<p>Created by: <%= link_to "Donavin", "mailto:dnorthrup25@gmail.com", class: 'emailMe' %> </p>
<button>
    <%= link_to "Follow me", "https://www.twitter.com/DaRealDNorthrup", class: "social-btn" %>
</button>

