@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@font-face {
    font-family: 'Magic';
    src:font-url('MAGIC.TTF') format('truetype');
    font-weight:normal;
    font-style: normal;
}
@font-face{
   font-family: 'Quicksand';
   src:  url('https://fonts.googleapis.com/css?family=Quicksand:700');   
   font-weight: normal;
   font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
    font-weight: normal;
    font-style: normal;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), image-url('MTGBG.jpg');
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}
.magicFont {
    font-family: Magic;
}
.aboutWrap{
    text-align: center;
}
.aboutWrap a{
    color: blue;
}
button {
    font-family: Serif;
    font-size: 18px;
    border-radius: 15px;
    color: #4099FF;
}
.button[disabled], .button[disabled]:hover, .button[disabled]:focus, .button[disabled]:active {
    transform: scale(0) !important;
    text-decoration: none;
    border: 0px;
}
.navHeaders{
    font-size: 50px;
    border: 0px;
    font-family: Roboto;
    }
.navHeaders a {
    color: green;
    background: none !important; 
  border: 0 !important;
  box-shadow: none !important;
}
.search {
    color: yellow;
}
.navHeaders a:hover{
    color: darkblue;
    transform: scale(1.2);
    background-color: transparent; 
    text-decoration: none; 
    background: rgba(255, 255, 255, 0.3);
}
a {
    color: red;
}
.fa-twitter {
    color: #4099FF;
}
.social-btn {
    color: #4099FF;
    height: 20px;
    padding: 5px 5px;
    width: 100px;
    text-align: center;
}
.user-info {
    margin-top: 9px;
 }
 
.nav {
    margin-top: 5px;
 }
.confirmation{  
    font-size: 32px;
}
.confirmMsg{  
    font-size: 24px;
    padding-bottom: 50px;
    
}
.emailName{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
} 
.name{
    font-weight: bold;
    font-size: 24px;
}
.confirmYes{
    width: 75px;
    height: 50px;
    display: inline;
}
.confirmNo{
    width: 75px;
    height: 50px;
    display: inline;
}
.confirmUL{
    margin: 0;
    padding: 5px;
    list-style-type: none;
  
}
.confirmUL li {
    padding: 0px 20px 0px 0px;
    display: inline-block; 
}
.logonImg{
    float: right;
    width: auto;
}
.logonMsg{
    display: inline;
    float: left;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    font-family: Quicksand;
}

.vote-arrows {
    width: 40px;
    text-align: center;
    float: left;
}
.gravatar {
   margin-bottom: 5px;
   margin-right: 5px;
 }