@import "bootstrap-sprockets";
@import "bootstrap";

.social-btn {
    color: #00aced;
    height: 20px;
    padding: 5px 5px;
    width: 100px;
    text-align: center;
}
.user-info {
    margin-top: 9px;
 }
 
.nav {
    margin-top: 5px;
 }
.confirmation{  
    font-size: 32px;
}
.confirmMsg{  
    font-size: 24px;
    padding-bottom: 50px;
    
}
.emailName{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
} 
.name{
    font-weight: bold;
    font-size: 24px;
}
.confirmYes{
    width: 75px;
    height: 50px;
    display: inline;
}
.confirmNo{
    width: 75px;
    height: 50px;
    display: inline;
}
.confirmUL{
    margin: 0;
    padding: 5px;
    list-style-type: none;
  
}
.confirmUL li {
    padding: 0px 20px 0px 0px;
    display: inline-block; 
}
.logonImg{
    float: right;
    width: auto;
}
.logonMsg{
    display: inline;
    float: left;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 18px;
}

.vote-arrows {
    width: 40px;
    text-align: center;
    float: left;
}
.gravatar {
   margin-bottom: 5px;
   margin-right: 5px;
 }